$color-light: rgb(233, 227, 227);
$color-dark: #2f3542;
$color-success: #26de81;
$color-warning: #e1644e;

//$font-text: 'Poppins';
//$font-text: 'Roboto';
//$font-text: 'Open Sans';
$font-text: 'Source Sans Pro',sans-serif;
//$font-text: 'The Nautigal';
//$font-text: 'Source Sans Pro Italic';

$radius: 5px;
$base-size: 16px;
$transition: all 0.5s;
